
.fullContent{
    background-color: rgb(0, 0, 0);
    margin: 50px 92px;
    max-width: 900px;
    display: flex;
    align-items: center;
}

.imageFrame{
    max-width: 100%;
}

img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
}

.content{
    position: absolute;
    background-color: rgb(106, 255, 0);
    display: flex;
    align-items: center;
    box-shadow: inset 0px 0px 50px rgba(0,0,0,0.5);
}

.para{
    margin: auto;
    padding: 25px;
}

.slideAnimation {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }